.root {
    -fx-font-size: 16px;
    -fx-font-family: monospace;
}

.text-area {
    -fx-text-fill: #dddddd;
    -fx-font-size: 21px;
}

.text-area .content {
    -fx-background-color: #282828;
}

#featureData {
    -fx-font-size: 21px;
}